#To note: this is not to the only set of packages to run this program.
#please see a range of possible versions in https://github.com/acadTags/Explainable-Automated-Medical-Coding#requirements
#Python 3.7.9 for the specific versions of the packages below
gensim==3.8.3
matplotlib==3.3.2
nltk==3.5
numpy==1.20.3
pandas==1.1.4
scikit_learn==1.0.1
scipy==1.5.4
spacy==2.3.2
tensorflow==1.13.1
tflearn==0.5.0
tqdm==4.49.0
